
body{
	background: #f7a400;

	div{
		background: linear-gradient(transparent, #00CEFF 100%);
		transform: translate(3px, 100px);
	}
}

.icon-del{

}

.aaa{
	display: block;
	background: #f7a400;
	width: 100px;
	height: 100px;
	color: #fff;
}